#geopoppy_form_container {
    min-width: 200px;
}

#geopoppy_form_container button.geopoppy {
    width: 95%;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.8em;
    padding:10px;
}

#geopoppy_message {
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    background-color: white;
}
#geopoppy_message.error {
    background-color: red;
}
#geopoppy_message.progress {
    background: blue;
}
#geopoppy_message.success {
    background-color: green;
}
#geopoppy_message_description {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    color: black;
    background-color: white;
    max-height: 300px;
    overflow: auto;
}

/*
Change mobile interface
*/
#content.mobile #dock, #content.mobile #bottom-dock {
    right: 20%;
}

/*
Hamburger menu*/
#mobile menu-content {
    background-color: transparent;
}
#mobile_menu_container {
    background: none;
    min-width: 200px;
}
#mobile_menu_container button,
#mobile_menu_container a.btn {
    width: 95%;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.8em;
    padding:10px;
}

#mobile_hamburger, #mobile_edition {
    cursor: pointer;
    position: absolute;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid rgba(255, 255, 255, 0.7);
}
#mobile_hamburger {
    top: 10px;
    left: 10px;
}
#mobile_hamburger center {
    margin-top: 12px;
}
#mobile_hamburger div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 8px 5px;
}

#mobile_edition {
    bottom: 100px;
    right: 50px;
}

#mobile_edition i{
    margin-top: 20px;
    transform: scale(1.5);
}
