#geopoppy_form_container {
    min-width: 200px;
}

#geopoppy_form_container button.geopoppy {
    width: 95%;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.8em;
    padding:10px;
}

#geopoppy_message {
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 1.1em;
    color: white;
    background-color: white;
}
#geopoppy_message.error {
    background-color: red;
}
#geopoppy_message.progress {
    background: blue;
}
#geopoppy_message.success {
    background-color: green;
}
#geopoppy_message_description {
    margin: 5px;
    padding: 10px;
    font-size: 1em;
    color: black;
    background-color: white;
    max-height: 300px;
    overflow: auto;
}

